/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting global styles for the body */
body {
    font-family: "Poppins"; /* Setting font family */
    cursor: none; /* Hiding the cursor */
}

/* Setting styles for images */
img {
    width: 100%; /* Ensuring images fill their containers */
    height: 100%;
    object-fit: cover; /* Scaling images to cover their containers */
}

/* Container for the entire content */
.con {
    position: fixed; /* Fixing the container */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgb(5, 5, 5); /* Background color */
    overflow: hidden; /* Hiding overflow content */
}

/* Footer styles */
footer {
    position: fixed; /* Fixing the footer */
    bottom: 0; /* Positioned at the bottom */
    width: 100%; /* Full width */
    padding: 2em; /* Padding */
    display: flex; /* Flex layout */
    justify-content: space-between; /* Spacing between items */
    align-items: center; /* Aligning items vertically */
    z-index: 2; /* Setting z-index */
}

/* Styles for the shoes section */
.shoes {
    position: fixed; /* Fixing the section */
    width: 30%; /* Width */
    height: 100vh; /* Full height */
    padding: 0 2em; /* Padding */
    display: flex; /* Flex layout */
    flex-direction: column; /* Flex direction */
    justify-content: center; /* Centering content vertically */
    z-index: 2; /* Setting z-index */
}

/* Styles for individual shoe items */
.shoe {
    margin-top: 10px; /* Top margin */
    width: max-content; /* Width */
    padding: 0.25em 0; /* Padding */
    cursor: pointer; /* Cursor style */
}

.shoe a {
    color: rgb(255, 255, 255); /* Text color */
    padding: 6px 12px; /* Padding */
    font-weight: lighter; /* Font weight */
    background: rgba(255, 255, 255, 0.1); /* Background color */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Border */
    border-radius: 40px; /* Border radius */
    backdrop-filter: blur(20px); /* Applying blur effect */
    transition: 0.3s; /* Transition duration */
    margin-top: 10px; /* Top margin */
}

/* Hover effect for shoe items */
.shoe:hover a {
    background: none; /* Removing background */
    border: 1px solid rgba(255, 255, 255, 0.25); /* Changing border */
    margin-top: 10px; /* Top margin */
}

/* Styles for the preview section */
.preview {
    position: fixed; /* Fixing the section */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    z-index: 0; /* Setting z-index */
    color: rgb(255, 255, 255); /* Text color */
    opacity: 0; /* Setting initial opacity */
}

/* Background overlay for the preview */
.preview-bg {
    position: absolute; /* Absolute positioning */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    opacity: 0.55; /* Background opacity */
}

/* Title styles for the preview */
.preview-title h1 {
    font-weight: lighter; /* Font weight */
    font-size: 80px; /* Font size */
}

/* Paragraph styles for preview tags and description */
.preview-tags p,
.preview-description p {
    font-size: 14px; /* Font size */
    line-height: 120%; /* Line height */
}



.mouse-dot{
    width: 5px;
    height: 5px;
    background-color: white;
}

.mouse-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.mouse-dot,
.mouse-outline {
    position: fixed; /* Fixing the elements */
    top: 0; /* Positioned at the top */
    left: 0; /* Positioned at the left */
    transform: translate(-50%, -50%); /* Translating */
    border-radius: 50%; /* Border radius */
    z-index: 1; /* Setting z-index */
    pointer-events: none; /* Disabling pointer events */
}

